aiohttp==3.3.2
aiohttp_session[aioredis]==2.5.1
aiopg==0.14.0
hiredis==0.2.0
aioredis==1.1.0
psycopg2==2.7.4
sqlalchemy==1.2.8
alembic==0.9.9
pyyaml==3.12
ramlfications==0.1.9
venusian==1.1.0
uvloop==0.10.1
# for the parser
inflection==0.3.1
typeit==0.2.0
